/* Reset Code*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** My CSS ***/
/* Navbar/Header */

* {
  text-decoration: none;
}

.index-head {
	background-color: #1f2937;
	width: 100%;
}

.index-navbar {
	position: absolute;
	width: 100%;
	height: 60px;
	padding-top: 20px;
}

#nav-logo {
	float: left;
}

#nav-links {
	float: right;
}

.index-navbar-links ul {
	display: flex;
	justify-content: end;
	align-items: center;
}

.index-navbar-links ul li a {
	color: #f9faf8;
	margin: 0px 20px 0px 25px;
}

.index-logo a {
  font-size: 24px;
  color: #f9faf8;
  text-transform: uppercase;
  margin: 24px 16px 10px 20px;
}

.index-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #f9faf8;
	width: 600px;
	padding: 70px 0px 80px 36px;
}

.index-header h1 {
	font-size: 48px;
	font-weight: bolder;
	margin-bottom: 20px;
}

.index-header p {
	margin-bottom: 30px;
	line-height: 20px;
	text-indent: 35px;
	font-size: 18px;
	color: #e5e7eb;
}

.index-header button {
	background-color: #3882f6;
	border-radius: 10px;
	font-size: 16px;
	text-align: center;
	color: #e5e7eb;
	font-weight: 900;
	padding: 5px 20px 5px 20px;
	width: 200px;
}

.index-header-photo {
	height: 160px;
	width: 360px;
	color: #f9faf8;
	background-color: #e5e7eb;
	margin: 50px 0px 0px 100px;
	padding: 20px;
}

.wrapper1 {
	padding-top: 100px;
}

@media only screen and (min-width: 1000px) {

	.wrapper1 {
		width: 1100px;
		display:flex;
		margin: 0 auto;
	}

	.wrapper {
		width: 1100px;
		margin: 0 auto;
	}
}

/* Index Body */

.index-programs {
	height: 500px;
	background-color: #fff;
	width: 100%;
}

.index-programs h2 {
	font-size: 36px;
	font-weight: bolder;
	color: #1f2937;
	text-align: center;
	margin: 20px 0px 70px 0px;
}

.index-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.index-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	text-align: center;
}

.index-box-display {
	height: 100px;
	width: 100px;
	border: 5px solid #3882f6;
	border-radius: 10px;
	align-items: center;
	margin-bottom: 15px;
}